
:root,
[data-bs-theme="light"] {
    --font-sans-serif: #{$font-family-sans-serif};
    --font-monospace: #{$font-family-monospace};
    --body-font-family: #{$font-family-base};
    --body-font-weight: #{$font-weight-base};
    --body-line-height: #{$line-height-base};
    --body-color: #{$body-color};

    --heading-color: #{$headings-color};

    --link-color: #{$link-color};
    --link-color-rgb: #{to-rgb($link-color)};
    --link-decoration: #{$link-decoration};
  
    --link-hover-color: #{$link-hover-color};
    --link-hover-color-rgb: #{to-rgb($link-hover-color)};


    --border-radius: #{$border-radius};
    --border-width: #{$border-width};
    --border-color: #{$border-color};

    // ESTOS TAMBIEN VAN EN DARK
    --emphasis-color: #{$body-emphasis-color};
    --emphasis-color-rgb: #{to-rgb($body-emphasis-color)};


}

[data-bs-theme="dark"] {
    --emphasis-color: #{$body-emphasis-color-dark};
    --emphasis-color-rgb: #{to-rgb($body-emphasis-color-dark)};
    --border-color: #{$border-color-dark};
    --border-color: #{$border-color-dark};
}