$theme-colors: (
  "primary":    $primary-main,
  "secondary":  $secondary-main,
  "success":    $success-main,
  "info":       $info-main,
  "warning":    $warning-main,
  "danger":     $danger-main,
  "light":      $gray200,
  "dark":       $gray700
) !default;

$font-family-base:            var(--font-sans-serif) !default;
$font-family-code:            var(--font-monospace) !default;
$font-weight-base:            $font-weight-normal !default;

$font-weight-lighter:         lighter !default;
$font-weight-bolder:          bolder !default;

$line-height-base:            1.5 !default;
$paragraph-margin-bottom:   1rem !default;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) !default;

$headings-margin-bottom:      $spacer * .5 !default;
$headings-font-family:        null !default;
$headings-font-style:         null !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

$body-text-align:           null !default;
$body-color:                $gray900 !default;
$body-bg:                   $white !default;


$small-font-size:             .875em !default;
$sub-sup-font-size:           .75em !default;

$code-font-size:                    $small-font-size !default;
$code-color:                        red !default;

$border-color:                "white";


$btn-border-radius:           var(--border-radius) !default;
$enable-smooth-scroll:        true !default;


$hr-margin-y:                 $spacer !default;
$hr-color:                    inherit !default;
$hr-border-color:             null !default; // Allows for inherited colors
$hr-border-width:             var(--border-width) !default;
$hr-opacity:                  .25 !default;

$legend-margin-bottom:        .5rem !default;
$legend-font-size:            1.5rem !default;
$legend-font-weight:          null !default;

$dt-font-weight:              $font-weight-bold !default;

$mark-padding:                .1875em !default;
$mark-color:                  $body-color !default;
$mark-bg:                     $warning-main !default;

$link-color:                              $primary !default;
$link-decoration:                         underline !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:                   null !default;


// TABLES

$table-cell-padding-y:        .5rem !default;
$table-cell-padding-x:        .5rem !default;
$table-cell-padding-y-sm:     .25rem !default;
$table-cell-padding-x-sm:     .25rem !default;

$table-cell-vertical-align:   top !default;

$table-color:                 var(--emphasis-color) !default;
$table-bg:                    var(--body-bg) !default;
$table-accent-bg:             transparent !default;

$table-th-font-weight:        null !default;

$table-striped-color:         $table-color !default;
$table-striped-bg-factor:     .05 !default;
$table-striped-bg:            rgba(var(--emphasis-color-rgb), $table-striped-bg-factor) !default;

$table-active-color:          $table-color !default;
$table-active-bg-factor:      .1 !default;
$table-active-bg:             rgba(var(--emphasis-color-rgb), $table-active-bg-factor) !default;

$table-hover-color:           $table-color !default;
$table-hover-bg-factor:       .075 !default;
$table-hover-bg:              rgba(var(--emphasis-color-rgb), $table-hover-bg-factor) !default;

$table-border-factor:         .2 !default;
$table-border-width:          var(--border-width) !default;
$table-border-color:          var(--border-color) !default;

$table-striped-order:         odd !default;
$table-striped-columns-order: even !default;

$table-group-separator-color: currentcolor !default;

$table-caption-color:         var(--secondary-color) !default;

$table-bg-scale:              -80% !default;

$enable-button-pointers:      true !default;
$enable-rfs:                  true !default;

$prefix:                      "" !default;

// DARK VARIABLES

$border-color-dark: $gray300-dark !default;
